<div class="container">

  <!-- Table -->

	<div class="row">

	  <div class="col-md-6">

		<div class="widget">

		<div class="widget-head">
		  <div class="pull-left"  style="width:100%; text-align:center">Bảng thống kê </div>
		  <div class="widget-icons pull-right">
			<a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
			<a href="#" class="wclose"><i class="fa fa-times"></i></a>
		  </div>  
		  <div class="clearfix"></div>
		</div>

		  <div class="widget-content">
			
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover order-table" style="color: #0C4B7F;">
				  <thead>
					<tr>
					  <th>Stt</th>
					  <th>Điện lực</th>
					  <th>Nhà máy</th>					  
					  <th>Thiết bị</th>  
					  <th>Serial</th>
					  <th>Cấp thiết bị</th>					  
					</tr>
				  </thead>
				  <tbody class="tbody-content">
					
				  </tbody>
				</table>
			</div>
			
			
		   <div class="widget-foot">

			  
				<ul class="pagination pagination-sm pull-right">
				  <li><a href="#">Prev</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">Next</a></li>
				</ul>
			  
			  <div class="clearfix"></div> 

			</div>

		  </div>
		</div>

	  </div>
	  
	  
	<div class="col-md-6 userdetail_table">
		<ul id="myTab" class="nav nav-tabs" style="margin-top:5px; display:; ">
			<li class="active tab_meter" id="tab_meter"><a href="#congto" data-toggle="tab">Thông số Công tơ  </a> </li>
			<li class="tab_tu" id="tab_tu"><a href="#tu" data-toggle="tab">Thông số TU</a></li>
			<li class="tab_ti" id="tab_ti"><a href="#ti" data-toggle="tab">Thông số TI</a></li>			
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active congto" id="congto">
				<div class="widget userdetail">
					<div class="widget-head">
						  <div class="pull-left"  style="width:100%; text-align:center">Bảng quản lý thao tác dữ liệu thông tin các Công tơ</div>
						  <div class="widget-icons pull-right">
							<a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
							<a href="#" class="wclose"><i class="fa fa-times"></i></a>
						  </div>  
						  <div class="clearfix"></div>
					</div>
						<!--  Div chứa nội dung tab active (đầu tiên) --> 
					<div class="widget-content">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover  order-table " style="color:#0C4B7F">
							  <thead>
								<tr style="white-space:nowrap; text-align:center; background-color:#BBFC7F ;">
									<th>Trường dữ liệu</th>
									<th>Thông số</th>
									<th >Thông tin</th>						
									<th>Trường dữ liệu</th>
									<th>Thông số</th>
									<th >Thông tin</th>							
								</tr>
								<tr style="white-space:nowrap; ">
									<th style="background:#B5CEE3;">Mã điện lực</th>
									<td></td>
									<td class="input_text idpc" id="meter_id_pwc" data-name="id_pwc"></td>						
									<th style="background:#B5CEE3;">Mã chủ đầu tư</th>
									<td></td>
									<td  class="input_text ininv" id="meter_id_invester" data-name="id_invester"></td>						
								</tr>								
								<tr style="white-space:nowrap; ">
									<th style="background:#B5CEE3;">Mã nhà máy</th>
									<td></td>
									<td class="input_text idsub" id="meter_id_sub" data-name="id_sub"></td>						
									<th style="background:#B5CEE3;">Mã công tơ</th>
									<td></td>
									<td  class="input_text serialmeter" id="meter_serial_meter" data-name="serial_meter"></td>						
								</tr>	
								<tr style="white-space:nowrap;">
									<th style="background:#B5CEE3;">Version công tơ</th>
									<td></td>
									<td  class="input_text" id="meter_version_meter" data-name="version_meter"></td>						
									<th style="background:#B5CEE3;">Cấp công tơ</th>
									<td></td>
									<td  class="input_text" id="meter_level_meter" data-name="level_meter"></td>						
								</tr>
								<tr style="">
									<th style="background:#B5CEE3;">Tên công tơ</th>
									<td></td>
									<td  class="input_text" id="meter_name_meter" data-name="name_meter"></td>						
									<th style="background:#B5CEE3;">Kiểu đấu dây </th>
									<td> </td>
									<td  class="input_text" id="meter_wiring_meter" data-name="wiring_meter"></td>								
								</tr>

								<tr style="white-space:nowrap; ">
									<th style="background:#B5CEE3;">Hệ số nhân</th>
									<td></td>
									<td class="input_text" id="meter_factor_meter" data-name="factor_meter"></td>						
									<th style="background:#B5CEE3;">Hệ số tổn thất</th>
									<td></td>
									<td  class="input_text" id="meter_lineloss_meter" data-name="lineloss_meter"></td>						
								</tr>	
								<tr style="white-space:nowrap;">
									<th style="background:#B5CEE3;">Công suất quy đổi</th>
									<td></td>
									<td  class="input_text" id="meter_pconvert_meter" data-name="pconvert_meter"></td>						
									<th style="background:#B5CEE3;">Cấp điện áp</th>
									<td></td>
									<td  class="input_text" id="meter_levelvoltage_meter" data-name="levelvoltage_meter"></td>						
								</tr>
								<tr style="">
									<th style="background:#B5CEE3;">Thứ tự pha</th>
									<td></td>
									<td  class="input_text" id="meter_orderphase_meter" data-name="orderphase_meter"></td>						
									<th style="background:#B5CEE3;">Đ vị</th>
									<td></td>
									<td  class="input_text" id="meter_unit_meter" data-name="unit_meter"></td>						
								</tr>
								<tr style="white-space:nowrap; ">
									<th style="background:#B5CEE3;">Cổng truyền thông</th>
									<td></td>
									<td class="input_text" id="meter_port_transmission_meter" data-name="port_transmission_meter"></td>						
									<th style="background:#B5CEE3;">Số sau dấu phẩy</th>
									<td></td>
									<td  class="input_text" id="meter_count_point_meter" data-name="count_point_meter"></td>						
								</tr>	
								<tr style="white-space:nowrap;">
									<th style="background:#B5CEE3;">Online/Offline</th>
									<td></td>
									<td  class="input_text" id="meter_online_status" data-name="online_status"></td>						
									<th style="background:#B5CEE3;">Nhà sản xuất</th>
									<td></td>
									<td  class="input_text" id="meter_manufacturer_meter" data-name="manufacturer_meter"></td>						
								</tr>
								<tr style="">
									<th style="background:#B5CEE3;">Xuất xứ</th>
									<td></td>
									<td  class="input_text" id="meter_original_meter" data-name="original_meter"></td>						
									<th style="background:#B5CEE3;">Loại công tơ </th>
									<td> </td>
									<td  class="input_text" id="meter_type_meter" data-name="type_meter"></td>								
								</tr>

								<tr style="white-space:nowrap; ">
									<th style="background:#B5CEE3;">Năm sản xuất</th>
									<td></td>
									<td class="input_text" id="meter_year_production" data-name="year_production"></td>						
									<th style="background:#B5CEE3;">Dòng công tơ</th>
									<td></td>
									<td  class="input_text" id="meter_ampe_meter" data-name="ampe_meter"></td>						
								</tr>	
								<tr style="white-space:nowrap;">
									<th style="background:#B5CEE3;">Cấp chính xác</th>
									<td></td>
									<td  class="input_text" id="meter_exactlevel_meter" data-name="exactlevel_meter"></td>						
									<th style="background:#B5CEE3;">bắt đầu sử dụng</th>
									<td></td>
									<td  class="input_text" id="meter_timestart_meter" data-name="timestart_meter"></td>						
								</tr>
								<tr style="">
									<th style="background:#B5CEE3;">Quan hệ thiết bị</th>
									<td></td>
									<td  class="input_text" id="meter_relation_meter" data-name="relation_meter"></td>						
									<th style="background:#B5CEE3;">Đơn vị</th>
									<td></td>
									<td  class="input_text" id="meter_unit_meter" data-name="unit_meter"></td>						
								</tr>
								<tr style="">
									<th style="background:#B5CEE3;">TG lập trình gần nhất</th>
									<td></td>
									<td  class="input_text" id="meter_lasttime_programming" data-name="lasttime_programming"></td>						
									<th style="background:#B5CEE3;">Số lần lập trình</th>
									<td></td>
									<td  class="input_text" id="meter_count_programming" data-name="count_programming"></td>						
								</tr>	
								<tr style="">
									<th style="background:#B5CEE3;">Tham gia đo xa</th>
									<td></td>
									<td  class="input_text" id="meter_status_meter" data-name="status_meter"></td>						
									<th style="background:#B5CEE3;">-</th>
									<td></td>
									<td  class="" id="" data-name=""></td>						
								</tr>								
							  </thead>
							  <tbody class="tbody-content-details">
									
							  </tbody>
							</table>
						</div>						
					   <div class="widget-foot">
							<button  class="btn btn-primary addnew_btn" style="margin-top: 5px;"> Thêm mới </button>
							<button  class="btn btn-primary edit_btn" style="margin-top: 5px;"> Sửa </button>

							<button  class="btn disabled edit_confirm_btn" style="margin-top: 5px;"> Xong </button>
							<button  class="btn disabled edit_save_btn" style="margin-top: 5px;"> Lưu lại </button>
							<span> - - </span>
							<button  class="btn btn-warning cancel_btn" style="margin-top: 5px;"> Hủy bỏ </button>
							<span> - - </span>
							<button  class="btn btn-warning del_btn" style="margin-top: 5px;"> Xóa </button>
						  <div class="clearfix"></div> 

						</div>
					</div>
				</div>					
			</div>
			<div class="tab-pane fade tu" id="tu">
				<div class="widget userdetail">
					<div class="widget-head">
					  <div class="pull-left"  style="width:100%; text-align:center">Bảng quản lý thao tác dữ liệu thông tin các TU</div>
					  <div class="widget-icons pull-right">
						<a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
						<a href="#" class="wclose"><i class="fa fa-times"></i></a>
					  </div>  
					  <div class="clearfix"></div>
					</div>

					<div class="widget-content">
						
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover  order-table " style="color:#0C4B7F">
							  <thead>
								<tr style="white-space:nowrap; text-align:center; background-color:#BBFC7F ;">
									<th>Trường dữ liệu</th>
									<th>Thông số</th>
									<th >Thông tin</th>						
									<th>Trường dữ liệu</th>
									<th>Thông số</th>
									<th >Thông tin</th>							
								</tr>				  
								<tr style="white-space:nowrap; ">
									<th style="background:#B5CEE3;">Mã điện lực</th>
									<td></td>
									<td class="input_text" id="tu_id_pwc" data-name="id_pwc"></td>						
									<th style="background:#B5CEE3;">Mã chủ đầu tư</th>
									<td></td>
									<td  class="input_text inputid" id="tu_id_invester" data-name="id_invester"></td>						
								</tr>	
								<tr style="white-space:nowrap;">
									<th style="background:#B5CEE3;">Mã nhà máy</th>
									<td></td>
									<td  class="input_text" id="tu_id_sub" data-name="id_sub"></td>						
									<th style="background:#B5CEE3;">Mã công tơ</th>
									<td></td>
									<td  class="input_text inputemail" id="tu_serial_meter" data-name="serial_meter"></td>						
								</tr>
								<tr style="">
									<th style="background:#B5CEE3;">Tên TU</th>
									<td></td>
									<td  class="input_text" id="tu_name_tu" data-name="name_tu"></td>						
									<th style="background:#B5CEE3;">Mã TU</th>
									<td></td>
									<td  class="input_text serial_tu" id="tu_serial_tu" data-name="serial_tu"></td>						
								</tr>

								<tr style="white-space:nowrap; ">
									<th style="background:#B5CEE3;">Cấp TU</th>
									<td></td>
									<td class="input_text" id="tu_level_tu" data-name="level_tu"></td>						
									<th style="background:#B5CEE3;">Quan hệ TU</th>
									<td></td>
									<td  class="input_text inputid" id="tu_relation_tu" data-name="relation_tu"></td>						
								</tr>	
								<tr style="white-space:nowrap;">
									<th style="background:#B5CEE3;">Tỷ số biến TU</th>
									<td></td>
									<td  class="input_text" id="tu_ratio_tu" data-name="ratio_tu"></td>						
									<th style="background:#B5CEE3;">Cấp chính xác TU</th>
									<td></td>
									<td  class="input_text inputemail" id="tu_exactlevel_tu" data-name="exactlevel_tu"></td>						
								</tr>
								<tr style="">
									<th style="background:#B5CEE3;">Dung lượng TU</th>
									<td></td>
									<td  class="input_text" id="tu_capacity_tu" data-name="capacity_tu"></td>						
									<th style="background:#B5CEE3;">Version TU</th>
									<td></td>
									<td  class="input_text" id="tu_version_tu" data-name="version_tu"></td>							
								</tr>
								<tr style="">
									<th style="background:#B5CEE3;">Nhà sản xuất</th>
									<td></td>
									<td  class="input_text" id="tu_manufacturer_tu" data-name="manufacturer_tu"></td>						
									<th style="background:#B5CEE3;">Xuất xứ</th>
									<td></td>
									<td  class="input_text" id="tu_original_tu" data-name="original_tu"></td>						
								</tr>								
								<tr style="">
									<th style="background:#B5CEE3;">Năm sản xuất</th>
									<td></td>
									<td  class="input_text" id="tu_year_production" data-name="year_production"></td>					
									<th style="background:#B5CEE3;">TG bắt đầu sử dụng</th>
									<td></td>
									<td  class="input_text" id="tu_timestart_tu" data-name="timestart_tu"></td>						
								</tr>
								
							  </thead>
							  <tbody class="tbody-content-details">
									
							  </tbody>
							</table>
						</div>
					
						
					   <div class="widget-foot">
					   
							<button  class="btn btn-primary addnew_btn" style="margin-top: 5px;"> Thêm mới </button>
							<button  class="btn btn-primary edit_btn" style="margin-top: 5px;"> Sửa </button>

							<button  class="btn disabled edit_confirm_btn" style="margin-top: 5px;"> Xong </button>
							<button  class="btn disabled edit_save_btn" style="margin-top: 5px;"> Lưu lại </button>
							<span> - - </span>
							<button  class="btn btn-warning cancel_btn" style="margin-top: 5px;"> Hủy bỏ </button>
							<span> - - </span>
							<button  class="btn btn-warning del_btn" style="margin-top: 5px;"> Xóa </button>
							<div class="clearfix"></div> 
							
						</div>

					 </div>
				</div>		
			</div>
			<div class="tab-pane fade ti" id="ti">		
				<div class="widget userdetail">
					<div class="widget-head">
					  <div class="pull-left"  style="width:100%; text-align:center">Bảng quản lý thao tác dữ liệu thông tin các TI</div>
					  <div class="widget-icons pull-right">
						<a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
						<a href="#" class="wclose"><i class="fa fa-times"></i></a>
					  </div>  
					  <div class="clearfix"></div>
					</div>

					  <div class="widget-content">
						
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover  order-table " style="color:#0C4B7F">
							  <thead>
								<tr style="white-space:nowrap; text-align:center; background-color:#BBFC7F ;">
									<th>Trường dữ liệu</th>
									<th>Thông số</th>
									<th >Thông tin</th>						
									<th>Trường dữ liệu</th>
									<th>Thông số</th>
									<th >Thông tin</th>							
								</tr>				  
								<tr style="white-space:nowrap; ">
									<th style="background:#B5CEE3;">Mã điện lực</th>
									<td></td>
									<td class="input_text" id="ti_id_pwc" data-name="id_pwc"></td>						
									<th style="background:#B5CEE3;">Mã chủ đầu tư</th>
									<td></td>
									<td  class="input_text inputid" id="ti_id_invester" data-name="id_invester"></td>						
								</tr>	
								<tr style="white-space:nowrap;">
									<th style="background:#B5CEE3;">Mã nhà máy</th>
									<td></td>
									<td  class="input_text" id="ti_id_sub" data-name="id_sub"></td>						
									<th style="background:#B5CEE3;">Mã công tơ</th>
									<td></td>
									<td  class="input_text inputemail" id="ti_serial_meter" data-name="serial_meter"></td>						
								</tr>
								<tr style="">
									<th style="background:#B5CEE3;">Tên TI</th>
									<td></td>
									<td  class="input_text" id="ti_name_ti" data-name="name_ti"></td>						
									<th style="background:#B5CEE3;">Mã TI</th>
									<td></td>
									<td  class="input_text serial_ti" id="ti_serial_ti" data-name="serial_ti"></td>						
								</tr>

								<tr style="white-space:nowrap; ">
									<th style="background:#B5CEE3;">Cấp TI</th>
									<td></td>
									<td class="input_text" id="ti_level_ti" data-name="level_ti"></td>						
									<th style="background:#B5CEE3;">Quan hệ TI</th>
									<td></td>
									<td  class="input_text inputid" id="ti_relation_ti" data-name="relation_ti"></td>						
								</tr>	
								<tr style="white-space:nowrap;">
									<th style="background:#B5CEE3;">Tỷ số biến TI</th>
									<td></td>
									<td  class="input_text" id="ti_ratio_ti" data-name="ratio_ti"></td>						
									<th style="background:#B5CEE3;">Cấp chính xác TI</th>
									<td></td>
									<td  class="input_text inputemail" id="ti_exactlevel_ti" data-name="exactlevel_ti"></td>						
								</tr>
								<tr style="">
									<th style="background:#B5CEE3;">Dung lượng TI</th>
									<td></td>
									<td  class="input_text" id="ti_capacity_ti" data-name="capacity_ti"></td>						
									<th style="background:#B5CEE3;">Version TI</th>
									<td></td>
									<td  class="input_text" id="ti_version_ti" data-name="version_ti"></td>							
								</tr>
								<tr style="">
									<th style="background:#B5CEE3;">Nhà sản xuất</th>
									<td></td>
									<td  class="input_text" id="ti_manufactirer_ti" data-name="manufactirer_ti"></td>						
									<th style="background:#B5CEE3;">Xuất xứ</th>
									<td></td>
									<td  class="input_text" id="ti_original_ti" data-name="original_ti"></td>						
								</tr>								
								<tr style="">
									<th style="background:#B5CEE3;">Năm sản xuất</th>
									<td></td>
									<td  class="input_text" id="ti_year_production" data-name="year_production"></td>					
									<th style="background:#B5CEE3;">TG bắt đầu sử dụng</th>
									<td></td>
									<td  class="input_text" id="ti_timestart_ti" data-name="timestart_ti"></td>						
								</tr>
									
							  </thead>
							  <tbody class="tbody-content-details">
									
							  </tbody>
							</table>
						</div>
						
						
					   <div class="widget-foot">

						  
							<button  class="btn btn-primary addnew_btn" style="margin-top: 5px;"> Thêm mới </button>
							<button  class="btn btn-primary edit_btn" style="margin-top: 5px;"> Sửa </button>

							<button  class="btn disabled edit_confirm_btn" style="margin-top: 5px;"> Xong </button>
							<button  class="btn disabled edit_save_btn" style="margin-top: 5px;"> Lưu lại </button>
							<span> - - </span>
							<button  class="btn btn-warning cancel_btn" style="margin-top: 5px;"> Hủy bỏ </button>
							<span> - - </span>
							<button  class="btn btn-warning del_btn" style="margin-top: 5px;"> Xóa </button>
						  <div class="clearfix"></div> 

						</div>

					  </div>
				</div>
			</div>
	  </div>  
  </div>

</div>
		 

		<!-- Matter ends -->

<script>

pwdtemp = '';
editing = 0;
edit_userid = 0;

task = 0; //task = 1 - thêm mới/ = 2 edit
crpage = getpage();
crmenu = getdefaulthash();
crdongnm=0;
count_click_plus=0;
input_doing=0;

alltbdl = '';
currentTAB = '#congto';

$('.mainmenu').text(namepage[crpage]);
$('.listmenu').text(submenu[crmenu]);
var all_pc='';

apilink='http://mdms.npc.com.vn/mdms2015/admin/apis/';

init_info();



var now = 0;
if($('body').find('.userdetail_table').length != 0){
    var target = $('.userdetail_table').offset().top;
}

$(window).scroll(function(){
    now = $(this).scrollTop();
	    if(now > 128){
			$('.userdetail_table').addClass('fixed_table');
        }else{
    		$('.userdetail_table').removeClass('fixed_table');
        }
});

function init_info(){
	$.ajax({
		  url:apilink+'qltbdlconfig.php',
		      type:"POST",
		      data:{id:userid, token:token},
		      success:function(data){
		      	//console.log(data);
				 data = JSON.parse(data);
				 alltbdl = data; 
				 	//console.log(data);
					var html = ''; 
					indexx=0;
          	
		          	$.each(data,function(index, value){

						//console.log(value); return false;
						var subname = '';
						$.each(value[1],function(index1, value1){


						  var listmeters = '';
						  $.each(value1['meterinfo'],function(index2, value2){
							

							var listtu = '';
							$.each(value2['listtu'],function(index3, value3){
							 listtu +='<tr class="underpower pw" data-nametab="tu" data-pwid="'+value[0]['id_pwc']+'" data-subid="'+value1['id_sub']+'"  data-meterid="'+value2['id']+'" data-tuid="'+value3['id']+'" >'+
										'<td></td>'+ <!--'+value3['stt']+'-->
										'<td style="padding-left:15px; color:red;"></td>'+
										'<td></td><td href="#tu" data-toggle="tab">'+value3['name_tu']+'</td><td>'+value3['serial_tu']+'</td><td></td>'+
									  '</tr>';
							});


							var listti = '';
							$.each(value2['listti'],function(index3, value3){
							 listti +='<tr class="underpower pw" data-nametab="ti" data-pwid="'+value[0]['id_pwc']+'" data-subid="'+value1['id_sub']+'"  data-meterid="'+value2['id']+'" data-tiid="'+value3['id']+'">'+
										'<td></td>'+ <!--'+value3['stt']+'-->
										'<td style="padding-left:15px; color:blue;"></td>'+
										'<td></td><td href="#ti" data-toggle="tab">'+value3['name_ti']+'</td><td>'+value3['serial_ti']+'</td><td></td>'+
									  '</tr>';
							});
							var level='Dự phòng';
							if (value2['level_meter']==0){ level ='Chính';};
							listmeters +='<tr class="underpower pw" data-nametab="meter" data-pwid="'+value[0]['id_pwc']+'" data-subid="'+value1['id_sub']+'"  data-meterid="'+value2['id']+'">'+
										'<td >'+(index+1)+'.'+(index1+1)+'.'+value2['stt']+'</td>'+
										'<td ></td>'+
										'<td></td><td href="#congto" data-toggle="tab">'+value2['name_meter']+'</td><td>'+value2['serial_meter']+'</td><td>'+ level +'</td>'+
									  '</tr>'+listtu+listti;
						  });



						  subname +='<tr class="underpower subpower">'+
									  '<td >'+(index+1)+'.'+(index1+1)+'</td>'+
									  '<td ></td>'+
									  '<td>'+value1['name_sub']+'</td><td></td><td></td><td></td>'+
									'</tr>'+listmeters;

		            });
		              
		              //<tbody class="tbody-content">
		              html+='<tr class="power">'+
		                '<td class="">'+(index+1)+'</td>'+
		                '<td>'+value[0]['name_pwc']+'</td>'+
		                '<td></td><td></td><td></td><td></td>'+
		              '</tr>'+subname;

		          });		
				
				$('.tbody-content').html(html);
				$('tr.pw').click(function(){
					var inv_id = $(this).data("id");
					$('tr.pw').css('background','#FFFFFF');
					$(this).css('background','#BBFC7F');
					$('li').removeClass('active');
					
					active_tab= $(this).data("nametab");
					idpwc_detail= $(this).data("pwid");
					idsub_detali= $(this).data("subid");
					idmeter_detail= $(this).data("meterid");
					idtu_detail= $(this).data("tuid");
					idti_detail= $(this).data("tiid");
					
					if (active_tab=='meter') {
						$('#tab_meter').addClass('active');
						currentTAB = '#congto';
						/*
						*	Foreach PC
						*/
						$.each(alltbdl,function(index, valuepc){

							if (parseInt(valuepc[0].id_pwc) == parseInt(idpwc_detail)) {
								//console.log(valuepc[0].id_pwc, valuepc[0].name_pwc, valuepc);
								/*
								*	Foreach SUB
								*/
								$.each(valuepc[1],function(index, valuesub){
									//console.log(index, valuesub.id_sub, idsub_detali, valuesub);
									if (parseInt(valuesub.id_sub) == parseInt(idsub_detali)) {
										//console.log(valuesub);
										/*
										*	Foreach meter
										*/
										$.each(valuesub.meterinfo,function(indexmeter, valuemeter){
											if (parseInt(valuemeter.id) == parseInt(idmeter_detail)) {
												//console.log(valuemeter);
												$('#meter_id_pwc').html(valuemeter.id_pwc);	
												$('#meter_id_invester').html(valuemeter.id_invester);											
												$('#meter_id_sub').html(valuemeter.id_sub);										
												$('#meter_serial_meter').html(valuemeter.serial_meter);	
												$('#meter_level_meter').html(valuemeter.level_meter);
												$('#meter_name_meter').html(valuemeter.name_meter);										
												$('#meter_levelvoltage_meter').html(valuemeter.levelvoltage_meter);
												$('#meter_manufacturer_meter').html(valuemeter.manufacturer_meter);									
												$('#meter_original_meter').html(valuemeter.original_meter);	
												$('#meter_type_meter').html(valuemeter.type_meter);										
												$('#meter_year_production').html(valuemeter.year_production);
												$('#meter_ampe_meter').html(valuemeter.ampe_meter);	
												$('#meter_exactlevel_meter').html(valuemeter.exactlevel_meter);
												$('#meter_timestart_meter').html(valuemeter.timestart_meter);										
												$('#meter_relation_meter').html(valuemeter.relation_meter);
												$('#meter_lasttime_programming').html(valuemeter.lasttime_programming);									
												$('#meter_count_programming').html(valuemeter.count_programming);	
											
											}
										});
									}
								});
							}
						
						});
						//alert ('mã điện lực: '+ idpwc_detail + 'mã nhà máy: '+ idsub_detali + 'mã công tơ: '+ idmeter_detail );		
					} else if (active_tab=='tu') {

						$('#tab_tu').addClass('active');
						currentTAB = '#tu';

						$.each(alltbdl,function(index, valuepc){

							if (parseInt(valuepc[0].id_pwc) == parseInt(idpwc_detail)) {
								//console.log(valuepc[0].id_pwc, valuepc[0].name_pwc, valuepc);
								/*
								*	Foreach SUB
								*/
								$.each(valuepc[1],function(index, valuesub){
									//console.log(index, valuesub.id_sub, idsub_detali, valuesub);
									if (parseInt(valuesub.id_sub) == parseInt(idsub_detali)) {
										//console.log(valuesub);
										/*
										*	Foreach meter
										*/
										$.each(valuesub.meterinfo,function(indexmeter, valuemeter){
											if (parseInt(valuemeter.id) == parseInt(idmeter_detail)) {
												//console.log(valuemeter.listtu);
												/*
												*	Foreach meter
												*/
												$.each(valuemeter.listtu,function(indextu, valuetu){
													if (parseInt(valuetu.id) == parseInt(idtu_detail)) {

														$('#tu_id_pwc').html(valuemeter.id_pwc);	
														$('#tu_id_invester').html(valuemeter.id_invester);											
														$('#tu_id_sub').html(valuemeter.id_sub);										
														$('#tu_serial_meter').html(valuemeter.serial_meter);													
														$('#tu_serial_tu').html(valuetu.serial_tu);	
														$('#tu_name_tu').html(valuetu.name_tu);	
														$('#tu_serial_tu').html(valuetu.serial_tu);	
														$('#tu_relation_tu').html(valuetu.relation_tu);
														$('#tu_ratio_tu').html(valuetu.ratio_tu);	
														$('#tu_exactlevel_tu').html(valuetu.exactlevel_tu);
														$('#tu_capacity_tu').html(valuetu.capacity_tu);	
														$('#tu_version_tu').html(valuetu.version_tu);
														$('#tu_manufacturer_tu').html(valuetu.manufacturer_tu);	
														$('#tu_original_tu').html(valuetu.original_tu);
														$('#tu_year_production').html(valuetu.year_production);	
														$('#tu_timestart_tu').html(valuetu.timestart_tu);
														$('#tu_timestart_tu').html(valuetu.timestart_tu);												
													}
												});
											}
										});
									}
								});
							}
						
						});		

						//alert ('mã điện lực: '+ idpwc_detail + 'mã nhà máy: '+ idsub_detali + 'mã công tơ: '+ idmeter_detail + 'mã thiết bị: '+ idtu_detail );			
					} else if (active_tab=='ti') {
						$('#tab_ti').addClass('active');
						currentTAB = '#ti';

						$.each(alltbdl,function(index, valuepc){

							if (parseInt(valuepc[0].id_pwc) == parseInt(idpwc_detail)) {
								//console.log(valuepc[0].id_pwc, valuepc[0].name_pwc, valuepc);
								/*
								*	Foreach SUB
								*/
								$.each(valuepc[1],function(index, valuesub){
									//console.log(index, valuesub.id_sub, idsub_detali, valuesub);
									if (parseInt(valuesub.id_sub) == parseInt(idsub_detali)) {
										//console.log(valuesub);
										/*
										*	Foreach meter
										*/
										$.each(valuesub.meterinfo,function(indexmeter, valuemeter){
											if (parseInt(valuemeter.id) == parseInt(idmeter_detail)) {
												//console.log(valuemeter.listtu);
												/*
												*	Foreach meter
												*/
												$.each(valuemeter.listti,function(indexti, valueti){
													if (parseInt(valueti.id) == parseInt(idti_detail)) {         	
														$('#ti_id_pwc').html(valuemeter.id_pwc);	
														$('#ti_id_invester').html(valuemeter.id_invester);											
														$('#ti_id_sub').html(valuemeter.id_sub);										
														$('#ti_serial_meter').html(valuemeter.serial_meter);													
														$('#ti_serial_ti').html(valueti.serial_ti);	
														$('#ti_name_ti').html(valueti.name_ti);	
														$('#ti_serial_ti').html(valueti.serial_ti);	
														$('#ti_relation_ti').html(valueti.relation_ti);
														$('#ti_ratio_ti').html(valueti.ratio_ti);	
														$('#ti_exactlevel_ti').html(valueti.exactlevel_ti);
														$('#ti_capacity_ti').html(valueti.capacity_ti);	
														$('#ti_version_ti').html(valueti.version_ti);
														$('#ti_manufactirer_ti').html(valueti.manufactirer_ti);	
														$('#ti_original_ti').html(valueti.original_ti);
														$('#ti_year_production').html(valueti.year_production);	
														$('#ti_timestart_ti').html(valueti.timestart_ti);
														$('#ti_timestart_ti').html(valueti.timestart_ti);
													}
												});
											}
										});
									}
								});
							}
						
						});

						//alert ('mã điện lực: '+ idpwc_detail + 'mã nhà máy: '+ idsub_detali + 'mã công tơ: '+ idmeter_detail + 'mã thiết bị: '+ idti_detail );
					}
					//$('#tu').show();
					var key = 'cdt_'+inv_id;
					cancel_editing();

				});				
		
				$('.addnew_btn').click(function(){

					if (editing == 0){
						task = 1;
						editing = 1;
						if (currentTAB == '#congto') {

							$('.congto .input_text').each(function(){
						
								if (!$(this).hasClass('inputid')){
									
									$(this).html('<input type="text">');
									
								} 
								
							});

						} else if (currentTAB == '#tu') { 

							$('.tu .input_text').each(function(){
						
								$(this).html('<input type="text">');
								
							});

						} else if (currentTAB == '#ti') {

							$('.ti .input_text').each(function(){
						
								$(this).html('<input type="text">');
								
							});

						}


						

						$('.edit_confirm_btn').removeClass('disabled').addClass('btn-primary');
						$('.edit_save_btn').removeClass('btn-primary').addClass('disabled');
						$('.edit_btn').removeClass('btn-primary').addClass('disabled');

					}
					
				});


				$('.edit_btn').click(function(){

					if (editing == 0){

						editing = 1;

						task = 2;

						if (currentTAB == '#congto') {

							console.log('edit congto');

							$('.congto .input_text').each(function(){
						
								var text = $(this).html();

								if (text =='') {text = ' - ';}

								if (!$(this).hasClass('idpc')&&!$(this).hasClass('ininv')&&!$(this).hasClass('idsub')&&!$(this).hasClass('serialmeter')){
									
									if ($(this).hasClass('inputemail')){
										
										if ($(this).html()==''){

											$(this).html('<input type="text" value="email@example.com">');

										} else {
											
											$(this).html('<input type="text" value="'+text+'">');

										}
										
									} else {

										$(this).html('<input type="text" value="'+text+'">');

									}
									
								}

							});

						} else if (currentTAB == '#tu') {

							console.log('edit tu');

							$('.tu .input_text').each(function(){
						
								var text = $(this).html();

								if (text =='') {text = ' - ';}
								if (!$(this).hasClass('serial_tu')){
									$(this).html('<input type="text" value="'+text+'">');
								}
								
							});

						} else if (currentTAB == '#ti') {

							console.log('edit ti');

							$('.ti .input_text').each(function(){
						
								var text = $(this).html();

								if (text =='') {text = ' - ';}

								if (!$(this).hasClass('serial_ti')){
									$(this).html('<input type="text" value="'+text+'">');
								}

							});

						}

						$('.edit_confirm_btn').removeClass('disabled').addClass('btn-primary');
						$('.edit_save_btn').removeClass('btn-primary').addClass('disabled');
						$('.addnew_btn').removeClass('btn-primary').addClass('disabled');
						
					}
					
				});


				 
				$('.edit_confirm_btn').click(function(){

					check_inputtext_empty(finishediting);

				});

				$('.edit_save_btn').click(function(){
					if (editing == 0) {
						
						checksecurity(save_callback);
						
						$('.edit_confirm_btn').removeClass('btn-primary').addClass('disabled');
						$('.edit_save_btn').removeClass('btn-primary').addClass('disabled');
						$('.addnew_btn').removeClass('disabled').addClass('btn-primary');
						$('.edit_btn').removeClass('disabled').addClass('btn-primary');

					}
				});

				$('.cancel_btn').click(function(){

					cancel_editing();

				});

		      },
		      error:function(e){
		          console.log('e '+e);
		      }
		});
}


$('.congto .del_btn').click(function(){
	showalert('Thông báo', 'Chúc mừng bạn đã xóa sạch dữ liệu thành công!', 11000);
});

function get_text_input(){

	var obj = {};

	//console.log('type: ', type);
	if (currentTAB == '#congto') {
		// console.log('11111111');
		$('.congto .input_text').each(function(){

			obj[$(this).data('name')] = $(this).html()

		});

	} else if (currentTAB == '#tu') {
		// console.log('22222222');
		$('.tu .input_text').each(function(){
		
			obj[$(this).data('name')] = $(this).html()

		});
	} else if (currentTAB == '#ti') {
		// console.log('22222222');
		$('.ti .input_text').each(function(){
		
			obj[$(this).data('name')] = $(this).html()

		});
	}
	
	// console.log('obj : ', obj);
	return obj;
}


function check_inputtext_empty(callbackfnc){
	
	var boo = 1;
	$('.input_text').each(function(){
				
		var text = $(this).find('input').val();

		if (text==''){
			boo = 0;
		} 
		
	});

	if ((boo == 1) && (typeof callbackfnc === 'function')) { callbackfnc(); }
	if (boo == 0) { 
		showalert('Thông báo', 'Bạn hãy điền đầy đủ thông tin trước khi tiếp tục', 11000);
	}
}


function save_callback(){
	/*
	*	select data to send 
	*/
	var obj = get_text_input();
	var link=apilink+'qltbdl_meter_editinfo.php';

	if (task == 1) { link=apilink+'qltbdl_meter_createnew.php'; }


	if (currentTAB == '#tu') {
		
		link=apilink+'qltbdl_tu_editinfo.php';

		if (task == 1) { link=apilink+'qltbdl_tu_createnew.php'; }

	} else if (currentTAB == '#ti') {

		link=apilink+'qltbdl_ti_editinfo.php';

		if (task == 1) { link=apilink+'qltbdl_ti_createnew.php'; }
	}

	

	obj = JSON.stringify(obj);
	console.log(obj);
	//return false;
	$.ajax({
		url:link,
			type:"POST",
			data:{userid:edit_userid, info:obj},
			success:function(data){
				console.log('save_callback : ', data);
				data = JSON.parse(data);
				showalert_withcallback('Thông báo', data.content, 11000, init_info);
			},
			error:function(e){ }
	});

	task = 0;

}


function cancel_editing(){

	finishediting();
	$('.edit_confirm_btn').removeClass('btn-primary').addClass('disabled');
	$('.edit_save_btn').removeClass('btn-primary').addClass('disabled');
	$('.addnew_btn').removeClass('disabled').addClass('btn-primary');
	$('.edit_btn').removeClass('disabled').addClass('btn-primary');

}

function finishediting(){
	editing = 0;

	$('.input_text').each(function(){
		if (!$(this).hasClass('pwd')){
			var text = $(this).find("input").val();
			//$(this).find("input").prop('')
			$(this).html(text);
			
		} else {
			pwdtemp = $(this).find("input").val();
			$(this).find("input").prop('disabled', true);
			//$(this).html('********');
			
		}

		$('.edit_confirm_btn').removeClass('disabled').addClass('btn-primary');
		$('.edit_save_btn').removeClass('btn-primary').addClass('disabled');

		
	});

	$('.edit_save_btn').removeClass('disabled').addClass('btn-primary');
}


// hàm kiểm tra password và xác nhận việc cập nhật, thay đổi thông tin
		
function checksecurity(callbackfnc){

	var inputcontent =  '<div style="text-align: center;font-size: 16px;font-weight: 500;margin-top: 15px;">Thông báo</div>'+
						'<div style="text-align: center; font-size: 15px;margin-top: 8px;">Bạn hãy nhập mật khẩu xác nhận</div>'+
						'<div style="margin:18px 10px; "><input type="password" id="inputpassword" placeholder="Mật khẩu" style="width: 100%;"></div>'+
						'<div class="btnxacnhaninput btn btn-success" style="margin-left:10px;">Xác nhận</div><div class="btn btn-warning btnhuybo" style="margin-left:20px;">Hủy bỏ</div>';

	if (!$('.inputdialog').length) {

	  var $divbg = $('<div id="inputdialog" class="inputdialog" style="height: 100%;background-color: rgba(0,0,0,0.5);position: fixed;top: 0px;left: 0px;right: 0px;z-index: 10002;"></div>').appendTo('body');

	  var $divcontent = $('<div id="inputdialogcontent" style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);background-color: rgb(255,255,255);height: 200px;width: 360px;z-index: 10001;border-radius: 5px;padding: 10px;"></div>').appendTo($('#inputdialog'));
	  $('#inputdialogcontent').html(inputcontent);
	  
	  $('#inputpassword').focus();

	}

	  $('.btnhuybo').click(function(){
		  $('#inputdialog').remove();
		  if (count_click_plus==0){ 				  
			$('#plus_sub_row'+crdongnm_cancel).remove();
			crdongnm=crdongnm_cancel;					
		  }
		  return false;
	  });

	  $('.btnxacnhaninput').click(function(){

		  var pass= $('#inputpassword').val();
		  $.post('http://mdms.npc.com.vn/mdms2015/apis/xacnhanpass.php',{userid:userid,password:pass}, function(data){
			  //alert(data);
			  if (data == 500){
				showalert('Thông báo', 'Lỗi kết nối server, bạn hãy thử lại lần sau!', 11000);
				return false;
			  } else if (data == 404){
				showalert('Thông báo', 'Sai mật khẩu, bạn hãy thử lại lần sau!', 11000);
				return false;
			  } else if (data == 200) {
				//console.log('thanh cong');
				$('#inputdialog').remove();
				if(callbackfnc) {callbackfnc();}
				//replace_chiso(csdauky, cscuoiky);
				return true;

			  }else if (data == 404){
				showalert('Thông báo', 'Xác nhận mật khẩu thất bại!', 11000);
				return false;
			  }
		  });
		  return false;
	  });

}

$(function(){

	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		// Get the name of active tab
		cancel_editing();
		var activeTab = $(e.target).text(); 
		currentTAB = $(e.target)[0].hash;
		// Get the name of previous tab
		var previousTab = $(e.relatedTarget).text(); 
		$(".active-tab span").html(activeTab);
		$(".previous-tab span").html(previousTab);
	});

});
</script>

<script src="js/jquery.dataTables.min.js"></script> <!-- Data tables -->

<style type="text/css">

	.fixed_table {
		position:fixed; 
		right:0px;
		top:55px;
	}
	.input_text input {
		width: 120px;
		border: 1px solid black;
	}
	.detail {
		cursor: pointer;
	}
</style>
