
        <div class="container">

          <!-- Table -->

            <div class="row">

              <div class="col-md-12">

                <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">Tables</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">
					
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
						  <thead>
							<tr>
							  <th>Stt</th>
							  <th>Điện lực</th>
							  <th>Chủ đầu tư</th>
							  <th>Loại hồ sơ</th>
							  <th>Số hồ sơ</th>							  
							  <th>Tên hồ sơ</th>								  
							  <th>Nội dung hồ sơ</th>
							  <th>Ngày hiệu lực</th>
							  <th>Dung lượng</th>
							  <th>Dòng điện</th>
							  <th>Điện áp</th>							  
							  <th>Loại TB</th>
							  <th>Nhà SX</th>
							  <th>Xuất Xứ</th>
							 

							</tr>
						  </thead>
						  <tbody class="tbody-content">
							<tr style="background:light green;">
							  <td class="power">1</td>
							  <td class="power">ĐL Hòa Bình</td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>								  
							</tr>
							<tr>
							  <td>1</td>
							  <td>Nhà máy Vạn Mai</td>
							  <td>Công ty Văn Hồng</td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
	
							</tr>
							<tr>
							  <td>1</td>
							  <td></td><td></td>
							  <td>Hồ sơ ban đầu</td>
							  
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  
							</tr>
							<tr>
							  <td>1</td>
							  <td></td><td></td>
							  <td>Quyết định</td>
							  
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>							  
							</tr>
							<tr>
							  <td>1</td>
							  <td></td>
							  <td></td>
							  <td>Nghiệm thu</td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>

							</tr>
							<tr>
							  <td>1</td>
							  <td></td>
							  <td></td>
							  <td>Bàn giao</td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							</tr>
							<tr style="background:light green;">
							  <td class="power">1</td>
							  <td class="power">ĐL Hòa Bình</td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>								  
							</tr>
							<tr>
							  <td>1</td>
							  <td>Nhà máy Vạn Mai</td>
							  <td>Công ty Văn Hồng</td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
	
							</tr>
							<tr>
							  <td>1</td>
							  <td></td><td></td>
							  <td>Hồ sơ ban đầu</td>
							  
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  
							</tr>
							<tr>
							  <td>1</td>
							  <td></td><td></td>
							  <td>Quyết định</td>
							  
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>							  
							</tr>
							<tr>
							  <td>1</td>
							  <td></td>
							  <td></td>
							  <td>Nghiệm thu</td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>

							</tr>
							<tr>
							  <td>1</td>
							  <td></td>
							  <td></td>
							  <td>Bàn giao</td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							</tr>
<tr>
							  <td>1</td>
							  <td>Nhà máy Vạn Mai</td>
							  <td>Công ty Văn Hồng</td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
	
							</tr>
							<tr>
							  <td>1</td>
							  <td></td><td></td>
							  <td>Hồ sơ ban đầu</td>
							  
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  
							</tr>
							<tr>
							  <td>1</td>
							  <td></td><td></td>
							  <td>Quyết định</td>
							  
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>							  
							</tr>
							<tr>
							  <td>1</td>
							  <td></td>
							  <td></td>
							  <td>Nghiệm thu</td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>

							</tr>
							<tr>
							  <td>1</td>
							  <td></td>
							  <td></td>
							  <td>Bàn giao</td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							</tr>							
<tr style="background:light green;">
							  <td class="power">1</td>
							  <td class="power">ĐL Hòa Bình</td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>
							  <td class="power"></td>								  
							</tr>
							<tr>
							  <td>1</td>
							  <td>Nhà máy Vạn Mai</td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
	
							</tr>
							<tr>
							  <td>1</td>
							  <td></td><td>Công tơ 12345</td>
							  <td></td>
							  
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  
							</tr>
							<tr>
							  <td>1</td>
							  <td></td><td>Công tơ 12345</td>
							  <td></td>
							  
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>							  
							</tr>
							<tr>
							  <td>1</td>
							  <td></td> <td>TU</td>
							  <td></td> 							  

							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>

							</tr>
							<tr>
							  <td>1</td>
							  <td></td>							  <td>TI</td>
							  <td></td>

							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							</tr>								
						  </tbody>
						</table>
					</div>
					
					
                   <div class="widget-foot">

                      
                        <ul class="pagination pagination-sm pull-right">
                          <li><a href="#">Prev</a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">Next</a></li>
                        </ul>
                      
                      <div class="clearfix"></div> 

                    </div>

                  </div>
                </div>

              </div>

            </div>

        </div>


		<!-- Matter ends -->


<script>
$('tr:not(.underpower)').click(function(){
  //alert('1');
   $(this).nextUntil('tr:not(.underpower)').toggle('slow');
});
</script>


<script type="text/javascript">
 
function datatype(datatype){
    var rs = 'Hồ sơ';
    if (datatype == 1){ rs = 'Hồ sơ ban đầu'}
      else if (datatype == 2){ rs = 'Quyết định'}
        else if (datatype == 3){ rs = 'Nghiệm thu'}
          else if (datatype == 4){ rs = 'Bàn giao'}
            else if (datatype == 5){ rs = 'Hồ sơ ban đầu 5'}
              else if (datatype == 6){ rs = 'Hồ sơ ban đầu 6'}

    return rs;
} 

$.ajax({
  url:'http://mdms.npc.com.vn/mdms2015/apis/qlhs.php',
      type:"POST",
      data:{id:userid, token:token},
      success:function(data){
          //console.log('e ',data);
          data = JSON.parse(data);
          //console.log(data);
          var html = '';
          $('.tbody-content').html(html);
          $.each(data,function(index, value){
              var nm = '';
              $.each(value[1],function(index1, value1){
                
                  //Lấy thông tin nhà máy - chủ đầu tư
                  nm+='<tr class="underpower">'+
                    '<td style="padding:10px;">'+(index+1)+'.'+(index1+1)+'</td>'+
                    '<td style="text-align:right;">'+value1['name_sub']+'</td>'+
                    '<td>'+value1['insinfo']['name_investor']+'</td><td></td><td></td><td></td><td></td>'+           
                    '<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>'+ 
                  '</tr>';
                  //Lặp từng hồ sơ trong nhà máy
                  $.each(value1['hoso'],function(indexhs, valuehs){
                      nm+='<tr class="underpower">'+
                          '<td></td><td></td><td></td><td>'+
                          datatype(valuehs['datatype'])+'</td><td ></td><td></td><td></td>'+           
                          '<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>'+ 
                        '</tr>';
                  });
              });

              //Lấy thông tin điện lực được cho phép
              html+='<tr class="power" style="background-color:light green;font-weight: 500;"><td >'+(index+1)+'</td>'+
                    '<td >'+value[0]['name_pwc']+'</td>'+
                    '<td></td><td></td><td></td><td></td><td></td><td></td><td></td>'+
                    '<td></td><td></td><td></td><td></td><td></td>'+                  
                  '</tr>'+nm; 
          });

          $('.tbody-content').append(html);
      },
      error:function(e){
          console.log('e '+e);
      }
});

</script>
