<div class="row nccst_title" style="text-align: center; font-size: 16px; font-weight: 600; margin-top: 15px;">   
</div>
<div class="row" style="height:50px;">
    <div class="col-md-6"><label class="col-lg-8 control-label" style="font-size: 16px; margin-top: 15px;">Chiều giao</label></div>
</div>

<div class="row" style="height:50px;">
    <div class="col-md-6"><label class="col-lg-8 control-label" style="margin-left: 80px; font-size: 14px;">Đầu kỳ</label></div>
    <div class="col-md-6"><label class="col-lg-8 control-label">Cuối kỳ</label></div>
<div data-key="import_kw"  class="row">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Tổng</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input data-key="import_kw" type="text" class="form-control dauky" placeholder="Tổng đầu kỳ">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Tổng cuối kỳ">
    </div>
    </div>
</div>
<div data-key="rate1"  class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Biểu 1</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input data-key="rate1" type="text" class="form-control dauky" placeholder="Biểu 1">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Biểu 1">
    </div>
    </div>
</div>
<div data-key="rate2"  class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Biểu 2</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input data-key="rate2" type="text" class="form-control dauky" placeholder="Biểu 2">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Biểu 2">
    </div>
    </div>
</div>
<div data-key="rate3" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Biểu 3</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input data-key="rate3" type="text" class="form-control dauky" placeholder="Biểu 3">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Biểu 3">
    </div>
    </div>
</div>
<div data-key="cd1" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Q Tổng</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input  type="text" class="form-control dauky" placeholder="Q Tổng">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Q Tổng">
    </div>
    </div>
</div>
<div data-key="q1" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Q 1</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input   type="text" class="form-control dauky" placeholder="Q 1">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Q 1">
    </div>
    </div>
</div>
<div data-key="q2" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Q 2</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input   type="text" class="form-control dauky" placeholder="Q 2">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Q 2">
    </div>
    </div>
</div>

<div class="row" style="height:50px;" style="margin-top: 3px;">
    <div class="col-md-6"><label class="col-lg-8 control-label" style="font-size: 16px; margin-top: 15px;">Chiều nhận</label></div>
</div>

<div data-key="export_kw" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Tổng</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input  type="text" class="form-control dauky" placeholder="Tổng nhận">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Tổng nhận">
    </div>
    </div>
</div>
<div data-key="rate4" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Biểu 4</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input  type="text" class="form-control dauky" placeholder="Biểu 4">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Biểu 4">
    </div>
    </div>
</div>
<div data-key="rate5" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Biểu 5</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input  type="text" class="form-control dauky" placeholder="Biểu 5">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Biểu 5">
    </div>
    </div>
</div>
<div data-key="rate6" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Biểu 6</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input  type="text" class="form-control dauky" placeholder="Biểu 6">
    </div>
    </div>
    <div class="col-md-6" style="margin-top: 3px;">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Biểu 6">
    </div>
    </div>
</div>
<div data-key="cd2" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Q Tổng</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control dauky" placeholder="Q Tổng">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Q Tổng">
    </div>
    </div>
</div>
<div data-key="q3" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Q 3</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input  type="text" class="form-control dauky" placeholder="Q 3">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Q 3">
    </div>
    </div>
</div>
<div data-key="q4" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Q 4</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input  type="text" class="form-control dauky" placeholder="Q 4">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Q 4">
    </div>
    </div>
</div>

<div data-key="full_time" class="row" style="margin-top: 3px;">
    <div class="col-md-6">
    <label class="col-lg-3 control-label" style="padding-left: 25px;">Ngày chốt</label>
    <div class="col-lg-9" style="display: inline-block;">
      <input  type="text" class="form-control dauky" placeholder="Ngày chốt chỉ số đầu">
    </div>
    </div>
    <div class="col-md-6">
    <div class="col-lg-9" style="display: inline-block;">
      <input type="text" class="form-control cuoiky" placeholder="Ngày chốt chỉ số cuối">
    </div>
    </div>
</div>

<button class="dongybtn btn btn-success" style="margin-left: 106px; width: 120px;">Đồng ý</button>


<button class="closebtn btn btn-warning" style="margin-left: 106px; width: 120px;">Hủy bỏ</button>


<script type="text/javascript">

$('.nccst_title').html('Nhập chỉ số chốt tháng '+month);
if (chisodauky!=null&&chisodauky!=''&&chisodauky!=undefined){


  $.each($('.dauky'), function(index, val){

    var key = $(this).parent().parent().parent().data("key");;//$(this).data('key');

    $(this).val(chisodauky[key]).prop('disabled', true);

  });

}

$(".closebtn").click(function(){
  
    thisclose();

});

$(".dongybtn").click(function(){
    checkinputvalue();
});
function checkinputvalue(){

    var csdauky = {}, cscuoiky = {};
    var check_null = 0;
    $.each($('.dauky'), function(index, val){
      //alert($(this).val());

      var key = $(this).parent().parent().parent().data("key");
      csdauky[key] = $(this).val();
      if (csdauky[key] == ''||csdauky[key] == null){check_null = 1;}

    });

    $.each($('.cuoiky'), function(index, val){
      //alert($(this).val());

      var key = $(this).parent().parent().parent().data("key");
      cscuoiky[key] = $(this).val();
      if (cscuoiky[key] == ''||cscuoiky[key] == null){check_null = 1;}
    });

    //alert(full_name+'  --  '+crmeter+' -- '+userid+' -- '+JSON.stringify(chisodauky)+' -- '+JSON.stringify(onlineH1.cuoiky));

      // var dauky = JSON.stringify(onlineH1.dauky);
      // var cuoiky = JSON.stringify(onlineH1.cuoiky);
      
    if (check_null == 1){
      showalert('Thông báo','Bạn hãy điền đầy đủ thông tin trước khi xác nhận!'); 
      
      return false;
    }

    inputdialog(thisclose);

    //alert(crmeter +' -- '+ month +' -- '+ userid +' -- '+  full_name +' -- '+ JSON.stringify(csdauky)+'<br />'+JSON.stringify(cscuoiky));

    replace_chiso(csdauky, cscuoiky);

    thisclose();

}
function inputdialog(callbackfnc){

    var inputcontent =  '<div style="text-align: center;font-size: 16px;font-weight: 500;margin-top: 15px;">Thông báo</div>'+
                        '<div style="text-align: center; font-size: 15px;margin-top: 8px;">Bạn hãy nhập mật khẩu xác nhận</div>'+
                        '<div style="margin:18px 10px; "><input type="password" id="inputpassword" placeholder="Mật khẩu" style="width: 100%;"></div>'+
                        '<div class="btnxacnhaninput btn btn-success" style="margin-left:10px;">Xác nhận</div><div class="btn btn-warning btnhuybo" style="margin-left:20px;">Hủy bỏ</div>';

    if (!$('.inputdialog').length) {

      var $divbg = $('<div id="inputdialog" class="inputdialog" style="height: 100%;background-color: rgba(0,0,0,0.5);position: fixed;top: 0px;left: 0px;right: 0px;z-index: 10002;"></div>').appendTo('body');

      var $divcontent = $('<div id="inputdialogcontent" style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);background-color: rgb(255,255,255);height: 200px;width: 360px;z-index: 10001;border-radius: 5px;padding: 10px;"></div>').appendTo($('#inputdialog'));
      $('#inputdialogcontent').html(inputcontent);
      
      }

      $('.btnhuybo').click(function(){
          $('#inputdialog').remove();
      });

      $('.btnxacnhaninput').click(function(){

          var pass= $('#inputpassword').val();
          $.post('http://mdms.npc.com.vn/mdms2015/apis/xacnhanpass.php',{userid:userid,password:pass}, function(data){
              alert(data);
              if (data == 500){
                showalert('Thông báo', 'Lỗi kết nối server, bạn hãy thử lại lần sau!', 11000);
                return false;
              } else if (data == 404){
                showalert('Thông báo', 'Sai mật khẩu, bạn hãy thử lại lần sau!', 11000);
                return false;
              } else if (data == 200) {
                console.log('thanh cong');
                $('#inputdialog').remove();
                if(callbackfnc) {callbackfnc();}
                //replace_chiso(csdauky, cscuoiky);

              }else if (data == 404){
                showalert('Thông báo', 'Xác nhận mật khẩu thất bại!', 11000);
                return false;
              }
          });
      });

  }


</script>


